
#add-location-form {
    display: flex;
    max-width: 100px;
    font-family: "Forum", serif;
}

#add-location-btn {
    font-family: "Forum", serif;
    background-color: green;
    min-width: 100px;
    height: 40px;
    font-size: 20px;
}

#add-location-btn:hover {
    color: lightgreen;
}

.AddLocationPage, .EditLocationPage {
    display: grid;
    font-family: "Forum", serif;
    font-size: 20px;
    width: 500px;
    text-align: center;
    display: inline-block;
}

.add-location-text {
    font-family: "Forum", serif;
    font-size: 16px;
   
}